/* CSS Variables  */

:root {
    /* Colors */
    
    --dark: #1f2937;
    --mid-light: #e5e7eb;
    --lightest: #f9faf8;
    --accent: #3882f6;


}


/* Border Box Reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: var(--dark);
    font-family: 'Open Sans', sans-serif;
}


/* Mobile first styles ------------------------- */



.wrapper {
    width: 90%;
    margin: 0 auto;
    border: red dotted 1px;
}

.logo-link {

}

.main-nav {

}


.hero {
    
}

h1 {
    color: var(--lightest);
    font-size: 36px;
    font-weight: bold;
    text-align: center;

}

.hero-words {
    
}

.hero-words p {
    color: var(--mid-light);
    text-align: justify;
    font-size: 18px;
}

.hero-image {
    width: 90%;
    object-fit: cover;
    object-position: -9% -10%;
    margin: 20px auto;
    display: block;

}


.information {
    background-color: var(--lightest);
}

h2 {
    text-align: center;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.box-individual {

}

.box-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: var(--accent) 4px solid;
}


figure {
    /* margin: 0; */
}

blockquote {
    margin: 10px;
    text-align: justify;
}

.testimonial {
    background-color: var(--mid-light);
    color: var(--dark);
    font-size: 18px;
}

figcaption {
    text-align: right;
}

.call-to-action {
    background-color: var(--lightest);
}


/* end Mobile first styles --------------------- */


@media (min-width: 990px) {


    .wrapper {
        width: 1025px;
    }


    h1 {
        text-align: left;
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .hero-image {
        width: 520px; 
        height: 235px;
        object-fit: none;
        object-position: -20px -55px; 
        display: inline;
    
    }

    .box-individual {
        width: 170px;
        height: 250px;
    
    }
    
    .box-image {
        width: 168px;
        height: 168px;
    }

    .info-boxes {
        width: 820px;        
    }

    figure {
        
    }

    blockquote {
        
        font-size: 36px;
        font-weight: 100;
        font-style: italic;
        margin: 40px 40px 0px 40px;
        text-align: left;
    }

    figcaption cite {
        margin-right: 15%;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;

    }

}




