/* CSS Variables  */

:root {
    /* Colors */
    --hero-foot: #1f2937;
    --main-text: #f9faf8;
    --sec-text: #e5e7eb;
    --call-ta: #3882f6;
    --info-head: #1f2937;
    --test-bg: #e5e7eb;
    --test-text: #1f2937;

}


/* Border Box Reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}




/* Mobile first styles ------------------------- */


body {
    background-color: var(--hero-foot);
}

.wrapper {
    width: 1025px;
    margin: 0 auto;
    border: red dotted 1px;
}

.logo-link {

}

.main-nav {

}


.hero {

}

.hero-words {

}

.hero-image {
    width: 520px;
    height: 235px;
    object-fit: none;
    object-position: -20px -55px;

}



.information {
    background-color: var(--main-text);
}


.info-boxes {
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    
}

.box-individual {
    width: 170px;
    height: 250px;

}

.box-image {
    width: 168px;
    height: 168px;
    object-fit: cover;
    border-radius: 10%;
    border: var(--call-ta) 4px solid;
}




.testimonial {
    background-color: var(--test-bg);
}

.call-to-action {
    background-color: var(--main-text);
}


/* end Mobile first styles --------------------- */


@media (min-width: 990px) {


}




